################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/TimeclockTracker/v16
/TimeclockTracker/bin
/TimeclockTracker/obj
