<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sheet" value="11IONszEiSIQwV4y1SW5XsEE_FmqBok7zG2A7DTxQ3vk" />
    <add key="log" value="Punchcard Log 22-23" />
    <add key="faculty" value="Faculty" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>