<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sheet" value="1ZDG91DTK1vjGvnmO4p2KmYBMrdZ_RkqsQRCoXVK0dXY" />
    <add key="log" value="Time Entries" />
    <add key="faculty" value="Para List" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>