<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sheet" value="1o9dOdC6L3vVN09nvH4gRcXo-uP44XtE15UMeiCRkHG4" />
    <add key="log" value="Punchcard" />
    <add key="faculty" value="Faculty" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>